[Unit]
Description=blueman-applet notification daemon
Documentation=man:blueman-applet
PartOf=user-session.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/blueman-applet

[Install]
WantedBy=user-session.target