[Unit]
Description=cliphist - clipboard history daemon
Documentation=man:wl-paste
PartOf=user-session.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/wl-paste --type text --watch cliphist store

[Install]
WantedBy=user-session.target
