{
  "name": "rofi_interface",
  "description": "Native backend for rofi tab switcher.",
  "path": "{{ env "HOME" }}/.bin/rofi-firefox",
  "type": "stdio",
  "allowed_extensions": [ "@rofi.tab.switcher" ]
}
