* { 
    /*
    all: unset;
    font-family: JetBrains Mono;
    */
    border: none;
    border-radius: 4;
    font-family: "UbuntuMono Nerd Font Propo";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 3px solid rgba(62, 68, 73, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
  background: rgba(43, 48, 59, 0.9);
  border: 1px solid rgba(100, 114, 125, 0.6);
}

tooltip label {
  color: @theme_text_color;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    padding: 0 0.5em;
    background-color: transparent;
    color: #f8f8f2;
    box-shadow: inset 0 -3px transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #f8f8f2;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#custom-hyprpip.hidden {
    background: transparent;
    outline-color: transparent;
    border-color: transparent;
    color: transparent;
    opacity: 0;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-weather,
#tray,
#mode,
#idle_inhibitor,
#custom-notification,
#custom-docker,
#custom-ufw,
#custom-network,
#custom-hyprpip.active ,
#sway-scratchpad,
#mpris,
#mpd {
    padding: 0 6px;
    margin: 6px 3px;
    color: #f8f8f2;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: rgba(255, 85, 85, 0.2);
    color: #eeeeee;
}

#custom-notification {
    background-color: rgba(145, 168, 172, 0.2);
    color: #eeeeee;
}

#custom-network{
    background-color: rgba(145, 168, 172, 0.2);
    color: #eeeeee;
}

#custom-ufw {
    background-color: rgba(73, 228, 255, 0.384);
    color: #eeeeee;
}

#custom-hyprpip.active  {
    background-color: rgba(23, 182, 245, 0.349);
    color: #eeeeee;
}

#custom-docker {
    background-color: rgba(247, 126, 27, 0.384);
    color: #eeeeee;
}

#mpris {
    background-color: rgba(247, 126, 27, 0.733);
    color: rgb(255, 255, 255);
}

#mpris.icon {
    background-color: rgba(247, 27, 82, 0.733);
    color: rgba(238, 238, 238, 0.9);
}

#battery {
    background-color: #44475a;
    color: #f8f8f2;
}

#battery.charging, #battery.plugged {
    background-color: rgba(38, 166, 91, 0.5);
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: rgba(241, 250, 140, 0.2);
    color: #eeeeee;
}

#memory {
    background-color: rgba(241, 250, 140, 0.2);
    color: #eeeeee;
}

#backlight {
    background-color: rgba(144, 177, 177, 0.2);
}

#network {
    background-color: rgba(80, 250, 123, 0.2);
    color: #eeeeee;
}

#network.disconnected {
    background-color: rgba(80, 250, 123, 0.2);
    color: #eeeeee;
}

#pulseaudio {
    background-color: rgba(189, 147, 249, 0.2);
    color: #eeeeee;
}

#pulseaudio.muted {
    background-color: rgba(68, 71, 90, 0.2);
    color: #f8f8f2;
}

#custom-media.custom-spotify {
    background-color: rgba(102, 204, 153, 0.2);
}

#custom-media.custom-vlc {
    background-color: rgba(255, 160, 0, 0.2);
}

#temperature {
    background-color: rgba(255, 121, 198, 0.2);
    color: #eeeeee;
}

#temperature.critical {
    background-color: rgba(255, 85, 85, 0.2);
    color: #eeeeee;
}

#tray > * {
    -gtk-icon-theme: "Adawaita";
}

#tray {
    background-color: rgba(189, 147, 249, 0.2);
    -gtk-icon-theme: "Adawaita";
}

#tray > .passive {
    -gtk-icon-effect: dim;
    -gtk-icon-style: symbolic;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: rgba(68, 71, 90, 0.5);
    color: #f8f8f2;
}

#idle_inhibitor.activated {
    background-color: rgba(248, 248, 242, 0.5);
    color: #44475a;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background-color: #f8f8f2;
    color: #eeeeee;
    padding: 0 5px;
    margin: 6px 3px;
    min-width: 16px;
}

#keyboard-state {
    background-color: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#custom-weather {
    background-color: rgba(52, 69, 73, 0.5);
    color: #eeeeee;
    margin-right: 5;
}

#custom-weather.rain-low {
    background-color: rgba(218, 127, 24, 0.685);
    color: #eeeeee;
}

#custom-weather.rain-high {
    background-color: rgba(218, 24, 24, 0.685);
    color: #eeeeee;
}

#custom-weather.rain-critical {
    background-color: rgba(218, 24, 24, 0.685);
    color: #eeeeee;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#disk {
    background-color: #ffb86c;
    color: #eeeeee;
}

#sway-scratchpad {
    background-color: #50fa7b;
    color: #eeeeee;
}